*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
}

/* shared styles */

main{
    max-width: 1280px;
    margin: 0 auto;
}

.primary-bg{
    background-color: #C6E4D6;
}
.card-btn{
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 500;
}
.all-btn{
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 500;
    background: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
}

.section-title{
    font-size: 40px;
    font-weight: bold;
}

/* shared styles */


/* nav styles */
nav{
    margin: 24px 160px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.name{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}
.sign{
    font-size: 18px;
    font-weight: 500;
    padding: 15px 40px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: transparent;
}
/* nav styles */

/* banner styles */
.banner{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 64px;
    padding: 80px 100px;
    border-radius: 24px;
}
.bd-title{
    font-size: 24px;
    color: grey;
    margin-bottom: 16px;
}
.bd h2{
    font-size: 46px;
    font-weight: bold;
}
.bd-btn{
    padding: 17px 34px;
    background-color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    margin-top: 24px;
    color: white;
}
/* banner styles */

/* pillars style */
.pillars-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.pillars{
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.pill-box{
    padding: 24px;
    /* border: 1px solid gray; */
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
.pill-box h5{
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 20px;
}
.pill-box p{
    font-size: 16px;
}
/* pillars style */

/* vision styles */
    .vision-desc{
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 32px;
        margin-top: 24px;
    }
    .v1{
        background-color: #81B4FC;
    }
    .v2{
        background-color: #C6E4D6;
    }
    .v3{
        background-color: #F7EBCF;
    }
    .vision-btn{
        padding: 11px 20px;
        font-size: 16px;
        margin-top: 24px;
        border-radius: 8px;
    }
    .b1{
        background-color: #5490F5;
        border: 1px solid #5490F5;
        color: white;
    }
    .b2{
       background-color: #09A15C;
       border: 1px solid #09A15C;
       color: white; 
    }
    .b3{
        background-color: #FFC239;
       border: 1px solid #FFC239;
       color: white; 
    }
    .yousuf{
        margin-top: 32px;
        padding: 48px 24px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
    }
    .yousuf-desc{
        font-size: 16px;
        color: #0E0E0E;
        margin-bottom: 12px;
    }
    .yousuf h5{
        font-size: 20px;
        color: #0E0E0E;
        margin-bottom: 5px;
    }
    .yousuf-name{
        font-size: 16px;
    }
/* vision styles */